* {
    margin: 0;
    padding: 0;
    --icon-size: 100px;
    --icon-grow: 20px;
}



article .main {
    margin-top: 200px;
    flex-direction: column; 
    bottom: 0px;

}

button,
.btn {
    cursor: pointer;
}

body {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #fff, #444);
}

p, h2{
    font-size: 2em;
}

body p {
    color: #222;
    text-shadow: 2px 2px #444;
    margin-left: 25px;
    padding: 5px;
    text-shadow: 1px 1px #333;
}


#artigo {
    text-align: center;
    justify-content: center;

}

footer {
    background: #444;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 60px;
    border-top: solid 5px #4faddb;
}





article .programacao img,
article .contatoPage img {
    margin: 20px 10px;
    box-shadow: 1px 1px #333;
    transition: 500ms;
    cursor: pointer;
    background-color: white;

}

article .programacao img:not(.noRounded),
article .contatoPage img:not(.noRounded) {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;

}

article .noRounded {
    width: calc(var(--icon-size) - 20px);
    height: calc(var(--icon-size) - 20px);
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

article .containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

article .programacao img:hover,
article .contatoPage img:hover {
    filter: drop-shadow(16px 16px 20px #333);
    width: calc(var(--icon-size) + var(--icon-grow));
    height: calc(var(--icon-size) + var(--icon-grow));
    margin: 10px 0px;
    padding: 0;
    transition: 120ms;
}

.formulario {
    color: red;
    text-align: left;
    width: max-content;
    background-image: url("../img/backgroundTexture.jpg");
    background-repeat: none;
    position: fixed;
    right: -400px;
    bottom: 70px;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: #fff;
    opacity: .7;
    box-shadow: -5px -10px #333;
    justify-content: center; 
    display: flex;
    
}



.formulario textarea {
    resize: none;
}

.formulario .btn {
    left: 0;
    margin: 5px;
    padding: 10px;
}

.formulario .x {
    float:right;
    position:relative;
    margin:0;
    padding:0;
    text-shadow: #333 1px 1px;
  }
  

h1 {
    font-size: 60px;
}


.sobre {
    margin: 100px;
    text-align: justify;
    align-items: center;
}


 .sobre #gabrielBackImg{
    margin: 5px;
    float: left;
    width: 400px;
    border-radius: 10px;
    transition: 500ms;
}

.sobreProgramacao img{
    border-radius: 20px;
    width: 100%;
    bottom: 0px;
    margin: 20px;
}

.impressao3d img {
    border-radius: 20px;
    width: 100%;
    bottom: 0px;
    
}
article>.sobre>div {
    margin: solid 2px #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    border-radius: 20px;
    width: 400px;
}

@media (max-width: 691px){
    #gabrielBackImg{
        width: 250px !important;
        transition: 500ms;
    }
}

@media (max-width: 800px) {
    article>#gabrielBackImg{
        float: left !important;
        transition: 400ms;
    }
    
}

.inicio{
    display: none;
    text-decoration: none;
    border: solid 2px #fff;
    width: max-content;
    border-radius: 20px;
    padding: 5px;
    /* color: */
    background-color: #333;

}

.titulo {
    font-size: 8em;
    transition: 1s;
}

.titulo:hover {
    font-size: 9em;
    margin-bottom: -11px;
    text-shadow: 4px 4px #444;
}