* {
    margin: 0;
    padding: 0;
    --icon-size: 100px;
    --icon-grow: 20px;
}



article .main {
    margin-top: 100px;
    flex-direction: column; 
    bottom: 0px;

}

button,
.btn {
    cursor: pointer;
}

body {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right, #999, #222);}


body p {
    color: #000;
    margin-left: 25px;
    padding: 5px;
}


footer {
    background: #444;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 60px;
    border-top: solid 5px #4faddb;
}





.patternDesign img {
    margin: 20px 10px;
    box-shadow: 1px 1px #333;
    transition: 500ms;
    cursor: pointer;
    background-color: white;

}

.patternDesign img:not(.noRounded){
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;

}

.noRounded {
    width: calc(var(--icon-size) - 20px);
    height: calc(var(--icon-size) - 20px);
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.patternDesign img:hover {
    filter: drop-shadow(16px 16px 20px #333);
    width: calc(var(--icon-size) + var(--icon-grow));
    height: calc(var(--icon-size) + var(--icon-grow));
    margin: 10px 0px;
    padding: 0;
    transition: 120ms;
}

.formulario {
    color: red;
    text-align: left;
    width: max-content;
    background-image: url("../img/backgroundTexture.jpg");
    background-repeat: none;
    position: fixed;
    right: -400px;
    bottom: 70px;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: #fff;
    opacity: .7;
    box-shadow: -5px -10px #333;
    justify-content: center; 
    display: flex;
    
}



.formulario textarea {
    resize: none;
}

.formulario .btn {
    left: 0;
    margin: 5px;
    padding: 10px;
}

.formulario .x {
    float:right;
    position:relative;
    margin:0;
    padding:0;
    text-shadow: #333 1px 1px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    border-radius: 20px;
    width: 400px;
}

@media (max-width: 750px){
    #gabrielBackImg{
        width: 220px !important;
        transition: 500ms;
    }
    footer {
        font-size: .5em;
        transition: 500ms;
    }
}
@media (max-width: 550px){
    #gabrielBackImg{
        width: 120px !important;
        transition: 500ms;
    }
}
@media (max-width: 800px) {
    article>#gabrielBackImg{
        float: left !important;
        transition: 400ms;
    }
    
}

.inicio{
    display: none;
    text-decoration: none;
    border: solid 2px #fff;
    width: max-content;
    border-radius: 20px;
    padding: 5px;
    background-color: #333;

}


.grayDiv{
    /* text-align: justify; */
    color: #000;
    background-image: linear-gradient(-45deg,#444, #fff);
    border-radius: 30px;
    margin: 0px 5%;
    padding: 20px;
    height: max-content;
    box-shadow: #222 8px 8px;
}
.grayDiv div {
    padding: 20px;
    margin: 20px;
    /* text-align: center; */
}

.sobre #gabrielBackImg{
    margin: 5px;
    float: left;
    width: 300px;
    border-radius: 10px;
    transition: 500ms;
}

.footerImages{
    width: 300px;
    position: absolute;
    right: 1px;
    bottom: 0;
}

.footerImages img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    transition: 200ms;

}

.footerImages img:hover {
    width: 40px;
    height: 40px;
    margin: 0px;
    transition: 200ms;
}
